pic32mk_mcm_curiosity_pro.X/.generated_files/
pic32mk_mcm_curiosity_pro.X/build/
pic32mk_mcm_curiosity_pro.X/debug/
pic32mk_mcm_curiosity_pro.X/dist/
pic32mk_mcm_curiosity_pro.X/nbproject/private/

pic32mk_mcm_curiosity_pro.X/nbproject/Makefile-genesis.properties
pic32mk_mcm_curiosity_pro.X/nbproject/Makefile-impl.mk
pic32mk_mcm_curiosity_pro.X/nbproject/Makefile-local-pic32mk_mcm_curiosity_pro.mk
pic32mk_mcm_curiosity_pro.X/nbproject/Makefile-pic32mk_mcm_curiosity_pro.mk
pic32mk_mcm_curiosity_pro.X/nbproject/Makefile-variables.mk
pic32mk_mcm_curiosity_pro.X/nbproject/Package-pic32mk_mcm_curiosity_pro.bash