CAN_Proj.X/.generated_files/
CAN_Proj.X/build/
CAN_Proj.X/debug/
CAN_Proj.X/dist/
CAN_Proj.X/nbproject/private/

CAN_Proj.X/nbproject/Makefile-default.mk
CAN_Proj.X/nbproject/Makefile-genesis.properties
CAN_Proj.X/nbproject/Makefile-impl.mk
CAN_Proj.X/nbproject/Makefile-local-default.mk
CAN_Proj.X/nbproject/Makefile-variables.mk
CAN_Proj.X/nbproject/Package-default.bash
